<!-- <p appTurnGreen [color]="'yellow'">Hello World</p>

<p *ngIf="isAdmin; else noAdmin">
  admin
</p>
<ng-template #noAdmin>
  <p>noAdmin</p>
</ng-template>

<button (click)="toggleAdmin()" [ngStyle]="{backgroundColor: 'red'}">toggle admin</button>

<div><input (keyup)="onInput($event)" [(ngModel)]="name"></div> -->

<div style="display: flex;">
  <app-warning-alert style="margin-right: 20px;"></app-warning-alert>
  <app-success-alert></app-success-alert>
</div>

<div>
  <app-form></app-form>
</div>

<div style="margin-top: 40px;">
  <app-button-logs></app-button-logs>
</div>
